html {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    text-align: center;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#map-header {
    height: 42px;
}

#map-header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

#drawing-overlay {
    cursor: crosshair;
    opacity: 1;
    filter: blur(0px);
    width: 100vw;
    height: calc(100vh - 42px - 4px);
    top: calc(42px + 2px);
    left: 2px;
    position: fixed;
    z-index: 2;
}

#drawing-board {
    opacity: 0.75;
    filter: blur(2px);
    box-shadow: 0px 0px 0px 6px rgb(64 0 0);
    width: 100vw;
    height: calc(100vh - 42px - 4px);
    top: calc(42px + 2px);
    left: 2px;
    position: fixed;
    z-index: 1;
}

#player-canvas {
    opacity: 0.99;
    filter: blur(2px);
    box-shadow: 0px 0px 0px 6px rgb(64 0 0);
    z-index: 2;
    position: fixed;
    top: calc(42px + 2px);
    left: 2px;
}

#map-view {
    overflow: hidden;
    height: calc(100vh - 42px - 4px);
    border: 2px solid #a00000
}

#map-img {
    z-index: 0;
    object-fit: cover;
}