html {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    text-align: center;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#map-header {
    height: 42px;
}

#map-header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

#map-view {
    overflow: hidden;
    height: calc(100vh - 42px - 4px);
    border: 2px solid #a00000
}

#map-view img {
    object-fit: cover;
}